---

export const partial = true;

---

<main>

        <slot />

</main>

<style>
	main {
        font-family: 'Fredoka', sans-serif;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		margin: auto;
		padding: 1rem;
		width: 100%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>